$main-accent-color: #3F8DA8;
$secondary-accent-color: #92E0E5;
$primary-font: 'Raleway', sans-serif;

@mixin centered() {
    display: flex;
    justify-content: center;
}

@mixin spreadout() {
    display: flex;
    justify-content: space-between;
}

@mixin outline($weight) {
    outline: solid $main-accent-color $weight;
    border-radius: 50%;
}

@mixin button-style() {
    background-color: white;
    color: $main-accent-color;
    border: solid $main-accent-color 4px;
    margin: 15px;
    font-size: 1rem;
    line-height: 1.5;
}

@mixin footer-text() {
    text-transform: capitalize;
    font-weight: 450;
    letter-spacing: .5px;
}