@import 'variables';

*,
*::before,
*::after{
  box-sizing: border-box;
  font-family: $primary-font;
}

body {
  background: url('../../dist/images/park.jpg') center/cover;
  height: 100vh;
  background-size: cover;
  margin: 0px;
}

nav {
  background-color: $secondary-accent-color;
  @include spreadout;
}

.dog-icon {
  width: 50px;
  padding: 5px;
  margin-left: 20px;
}

.links-wrapper {
  @include spreadout;
  width: 280px;
  padding-right: 20px;
  list-style-type: none;
  color: $primary-color;
  font-weight: 600;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 450;
}

.main-image-wrapper {
  @include centered;
  
  img {
    @include outline(4px);
  }
}

.button-wrapper {
  @include centered;
}

.buttons {
  @include button-style;
}

.profile-section {
  background-color: $primary-color;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

.dog-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 35px;
  }

  img {
    @include outline(2px);
    width: 220px;
  }

  p {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

footer {
  background-color: $main-accent-color;
  color: $primary-color;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  @include footer-text;
}

.contact-icons {
  @include spreadout;
  width: 350px;
  padding-bottom: 10px;
}

a {
  @include footer-text;
  text-decoration: underline;
  margin-top: 20px;
}

