@import 'variables';

*,
*::before,
*::after{
  box-sizing: border-box;
  font-family: $primary-font;
}

body {
  background: url('../../dist/images/park.jpg') center/cover;
  height: 100vh;
  // width: 100%;
  background-size: cover;
  margin: 0px;
}

nav {
  // Example of using a variable:
  background-color: $secondary-accent-color;
  display: flex;
  justify-content: space-between;
}

.dog-icon {
  width: 50px;
  padding: 5px;
  margin-left: 20px;
}

.links-wrapper {
  @include spreadout;
  width: 220px;
  padding-right: 20px;
  list-style-type: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 450;
}

.main-image-wrapper {
  @include centered;
}

.main-dog {
  @include outline(4px);
}

section {
  background-color: white;
}

footer {
  background-color: $main-accent-color;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  @include footer-text;
}

.contact-icons {
  @include spreadout;
  width: 350px;
  padding-bottom: 10px;
}

a {
  @include footer-text;
  text-decoration: underline;
  margin-top: 20px;
}

